* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "YakuHan Meiryo";
  src: url("../font/YakuHanMeiryo.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "YakuHan Meiryo";
  src: url("../font/YakuHanMeiryoBold.ttf") format("truetype");
  font-weight: bold;
}

body {
  color: #fff;
  font-family: "YakuHan Meiryo", "Meiryo";
}

::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-track{
  background: transparent;
  border: 4px solid transparent;
  border-radius: 6px;
  box-shadow: inset 0 0 0 1px #fff;
}
::-webkit-scrollbar-thumb{
  background: transparent;
  border: 4px solid transparent;
  border-radius: 6px;
  box-shadow: inset 0 0 0 2px #fff;
}

.effect {
  position: relative;
  width: 17em; height: 334px;
  padding: 28px 25px 22px 20px;
  margin: 18px 7px;
  background: url("../img/effect.png") no-repeat;
  float: left;
  font-size: 13px;
  line-height: 21px;
  word-break: break-all;
}

.effect h1 {
  height: 42px;
  font-size: 21px;
  line-height: 1em;
}

.ruby {
  position: relative;
}

[data-ruby] {
  position: absolute;
  left: 0px; right: 0px;
  width: 92%;
  margin: auto;
  font-size: 10px;
}

[data-ruby]::before {
  content: attr(data-ruby);
  position: absolute;
  top: -17px;
  left: 0px; right: 0px;
  text-align-last: justify;
}

.effect .colon {
  margin: 2px;
}

.effect span {
  white-space: nowrap;
}

.effect span[style] {
  display: inline-block;
  transform-origin: left;
}

.effect div {
  display: inline-block;
  position: absolute;
  left: calc(8.5em + 20px);
}

.effect .text {
  position: static;
  width: 17em;
  text-align: justify;
}

.effect .text b {
  text-align: start;
}
