* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  background:
    url("../img/Test10.png") repeat,
    url("../img/murakumoC.png") no-repeat calc(50vw - 300px) calc(50vh - 300px),
    #000;
  color: #fff;
  overflow: hidden;
}

a:link {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
  text-decoration: none;
}

::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-track{
  background: transparent;
  border: 4px solid transparent;
  border-radius: 6px;
  box-shadow: inset 0 0 0 1px #fff;
}
::-webkit-scrollbar-thumb{
  background: transparent;
  border: 4px solid transparent;
  border-radius: 6px;
  box-shadow: inset 0 0 0 2px #fff;
}

.header {
  position: relative;
  width: auto; height: 180px;
}

.banner {
  width: auto; height: 70px;
  border-bottom: 2px solid #123d84;
  background:
    url("../img/TERMINAL.png") no-repeat,
    linear-gradient(104deg, transparent 363px, #123d84 0%) no-repeat 50% 100% / 100% 40px,
    linear-gradient(90deg, #0e2a5a, rgba(0, 0, 0, 0.5));
  clip-path: polygon(0 0, 100% 0, 100% 32px, 376px 32px, 366px 100%, 0 100%);
}

.menu {
  position: absolute;
  width: 72px; height: 72px;
  background: rgba(0, 0, 0, 0.5);
  transform: rotate(45deg);
  overflow: hidden;
}

.menu:hover {background: url("../img/frame.png") no-repeat;}

.menu img {
  position: absolute;
  top: -15px; left: -15px;
  transform: rotate(-45deg);
}

.menu.DATA {top: 84px; left: 364px;}
.menu.LOG {top: 28px; left: 420px;}

iframe#display {
  width: calc(100vw - 390px); height: calc(100vh - 204px);
  margin: 10px;
  position: absolute;
  right: 0px; bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  overflow: scroll;
}

#DATA {
  width: 360px; height: calc(100vh - 207px);
  padding-top: 3px;
  margin: 10px;
  position: absolute;
  left: 0px; bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

#DATA .list {
  display: inline-block;
  width: 348px;
  padding-left: 10px;
  margin-top: 3px;
}

#DATA .list:hover {
  color: #123d84;
  background: linear-gradient(90deg, #fff 336px, transparent 0%) no-repeat;
}

#DATA .list:hover::after {
  content: "";
  width: 0; height: 0;
  border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 12px solid #fff;
  position: absolute;
  right: 12px;
}


.NAV {
  width: 350px; height: 240px;
  position: absolute;
  bottom: 0px; right: 0px;
  z-index: 1;
}

.NAV img {
  position: absolute;
  right: 0px;
}

.NAV .chat {
  width: 350px;
  position: absolute;
  left: 0px; bottom: 0px;
  background: linear-gradient(transparent, black 16px);
}

.NAV .chat div {
  border-bottom: solid 1px #aaa;
  color: #99BBFF;
  line-height: 1em;
}

.NAV .chat span {
  padding-left: 26px;
}
