* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #003366 repeat url("../img/Test9.png");
  color: #fff;
}

.header {
  position: relative;
  width: auto; height: 180px;
}

.back {
  width: auto; height: 70px;
  border-bottom: 2px solid #123d84;
  background:
    url("../img/TERMINAL.png") no-repeat,
    linear-gradient(104deg, transparent 363px, #123d84 0%) no-repeat 50% 100% / 100% 40px,
    linear-gradient(90deg, #0e2a5a, rgba(0, 0, 0, 0.5));
  clip-path: polygon(0 0, 100% 0, 100% 32px, 376px 32px, 366px 100%, 0 100%);
  z-index: 0;
}

.menu {
  position: absolute;
  width: 72px; height: 72px;
  background: rgba(0, 0, 0, 0.5);
  transform: rotate(45deg);
  overflow: hidden;
}

.menu:hover {
  background: url("../img/frame.png") no-repeat;
}

.menu img {
  position: absolute;
  top: -15px; left: -15px;
  transform: rotate(-45deg);
}

.DATA {top: 84px; left: 364px;}
.LOG {top: 28px; left: 420px;}

.effect {
  width: 17em; height: 334px;
  padding: 30px 25px 20px 20px;
  margin: 18px 7px;
  background: url("../img/effect.png") no-repeat;
  float: left;
  font-size: 13px;
  line-height: 21px;
}

.effect h1 {
  height: 42px;
  font-size: 21px;
  line-height: 1em;
}

.effect span {
  display: inline-block;
  width: 8.5em;
}