* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #003366 repeat url("../img/Test9.png");
}

.header {
  position: relative;
  width: auto; height: auto;
}

.back {
  width: auto; height: 70px;
  border-bottom: 2px solid #123d84;
  background:
    url("../img/TERMINAL2.png") no-repeat,
    linear-gradient(104deg, transparent 437px, #123d84 0%) no-repeat 50% 100% / 100% 40px,
    linear-gradient(90deg, #0E2A5A, rgba(0, 0, 0, 0.5));
  clip-path: polygon(0 0, 100% 0, 100% 32px, 452px 32px, 442px 100%, 0 100%);
  z-index: 0;
}

.menu {
  position: absolute;
  width: 72px; height: 72px;
  background: rgba(0, 0, 0, 0.5);
  transform: rotate(45deg);
}

.menu:hover {
  background: url("../img/frame.png") no-repeat;
}

.DATA {top: 84px; left: 438px;}
.LOG {top: 28px; left: 494px;}